.graph {
    display: flex;
}

.graph-heading {
    text-align: right;
    padding-right: 20px;
    width: 150px;
}

.portion {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.proteins {
    background-color: #92390e;
}

.dairy {
    background-color: #7a9090;
}

.fruits {
    background-color: #7a0063;
}

.vegetables {
    background-color: #3b5712;
}

.fats {
    background-color: #fdbe30;
}

.carbohydrates {
    background-color: #a27152;
}

.snacks {
    background-color: #f48837;
}

.condiments {
    background-color: #d9392f;
}
